extend layout

block content
  table
    thead
      tr
        th Flight Number
        th Airline
        th Origin
        th Destination
        th Scheduled
        th Estimated
        th Gate
        th Stand
        th Status
        th Belt
        th Aircraft
    tbody
      if rows
        each row in rows
          tr
            td= row.flight_no
            td= row.airline
            td= row.origin
            td= row.destination
            td= row.scheduled
            td= row.estimated
            td= row.gate
            td= row.stand
            td= row.status
            td= row.belt
            td= row.aircraft
            
