extends header

block content
  div(class='row')
    each key in keys
      div(class='col-12')
        h1= key
        table
          h2(class='header')= 'Arrivals - ' + stats[key].arrivals
          thead
            tr
              th Flight Number
              th Airline
              th Origin
              th Scheduled
              th Estimated
              th Gate
              th Stand
              th Status
              th Aircraft
          tbody
            each flight in arrivals[key]
              tr
                td= flight.flight_no
                td= flight.airline
                td= flight.origin
                td= flight.scheduled
                td= flight.estimated
                td= flight.gate
                td= flight.stand
                td= flight.status
                td= flight.aircraft
      div(class='col-12')  
        table
          h2(class='header')= 'Departures - ' + stats[key].departures
          thead
            tr
              th Flight Number
              th Airline
              th Destination
              th Scheduled
              th Estimated
              th Gate
              th Stand
              th Status
              th Aircraft
          tbody
            each flight in departures[key]
              tr
                td= flight.flight_no
                td= flight.airline
                td= flight.destination
                td= flight.scheduled
                td= flight.estimated
                td= flight.gate
                td= flight.stand
                td= flight.status
                td= flight.aircraft
